<h1>Who has this book?</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Publisher</td>
        <td>Image</td>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.publisher}}</td>
        <td>{{post.smallImage}}</td>
        <td>{{post.mediumImage}}</td>
        <td>{{post.publicationDate|date('Y/m/d H:i')}}</td>
        <td>{{post.smallImage}}</td>
        <td>{{post.smallImage}}</td>
    </tr>
    {% else %}
    <tr>
        <td>No book found.</td>
    </tr>
    {% endfor %}
</table>