{% extends 'UedayoHabookBundle::layout.html.twig' %}

{% block body %}
<h1>Who has book?</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Publisher</td>
        <td>Image</td>
        <td>published</td>
        <td>created</td>
        <td>circulated</td>
        <td>operation</td>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{book.id}}</td>
        <td>
            <a href="{{ path('book_show', {'id':book.id}) }}">{{ book.title }}</a>
        </td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.smallImage }}</td>
        <td>{{ book.publishedAt|date('Y/m/d H:i') }}</td>
        <td>{{ book.createdAt|date('Y/m/d H:i') }}</td>
        <td>{{ book.updatedAt|date('Y/m/d H:i') }}</td>
        <td>
            <a href="{{ path('book_edit',{'id':book.id}) }}">Edit</a>
            <a href="{{ path('book_delete',{'id':book.id}) }}">Delete</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="8">No books found.</td>
    </tr>
    {% endfor %}
</table>
<div>
    <a href="{{ path('book_new') }}" >add book</a>
</div>
{% endblock %}