<h1>{{book.title}}</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Publisher</td>
        <td>Image</td>
        <td>published</td>
        <td>created</td>
        <td>circulated</td>
    </tr>
    <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.smallImage}}</td>
        <td>{{book.publicatedAt|date('Y/m/d H:i')}}</td>
        <td>{{book.createdAt|date('Y/m/d H:i')}}</td>
        <td>{{book.updatedAt|date('Y/m/d H:i')}}</td>
    </tr>
</table>